:root {
    --vermelho: #E50914;
    --preto: #000000;
    --braco: #fff;
    --ciza: rgb(187, 187, 187);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Geral*/
body {
    background-color: var(--preto);
    font-family: 'Arial', Times, sans-serif;
    font-size: 12px;
    color: var(--braco);
}

body a {
    text-decoration: none;
    color: var(--braco);
}

bory a:hover {
    color: var(--ciza);
}

/*Cabeçario*/
header .contener {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 14px;
}

.menu-contener {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header a:hover {
    color: var(--ciza);
}

.logo img {
    margin-right: 40px;
    height: 30px;
}

.contener-esquerdo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contener-esquerdo a {
    text-decoration: none;
    color: var(--braco);
    margin-right: 10px;
    font-weight: bold;
}

.contener-esquerdo img {
    height: 30px;
    margin-right: 40px;
}

/*Menu Direito*/
.contener-direito a {
    text-decoration: none;
    color: var(--braco);
    margin-right: 10px;
    font-weight: bold;
}

.contener-direito {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contener-direito i {
    font-size: 20px;
}

.contener-direito img {
    height: 30px;
    margin-left: 10px;
}

/*Filme principal*/
.filme-principal {
    font-size: 15px;
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: flex-start; 
}

.img-fundo {
    z-index: 1;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('https://www.themoviedb.org/t/p/original/cmziOVMQrqvVfrjjQdadMdi2bGL.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

.texto {
    z-index: 2;
    position: absolute;
    text-align: justify;
    margin-right: 60%;
    margin-left: 40px;
    font-size: 16px;
}

.titulo-filme img {
    height: 200px;
    margin-top: 80px;
}

.butoes {
    z-index: 3;
    position: absolute;
    margin-left: 40px;
    margin-top: 330px;
}

.butoes i {
    font-size: 16px;
    margin-right: 10px;
}

.butao {
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 5px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
}


.butao:hover {
    background: var(--ciza);
}

.box-filme {
    position: 10px;
    height: 10%;
    display: block;
}
